<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Empezando con Ansible</title>
</head>
<body>
	<h1>Empezando con Ansible</h1>
	<p>Esta en una web gestionada por un libro de jugadas de Ansible. No modificar directamente.</p>
	<p>Node hostname: <b>{{ ansible_hostname }}</b></p>
	<p>Node distribution: <b>{{ ansible_distribution }}</b></p>
</body>
</html>
